.title {
  height: 60px;
  font-size: 40px;
  margin: auto;
  text-align: center;
}

aside {
  background: black;
  width: 30%;
  display: inline-block;
}

.searchBar {
  width: 70%;
}

.btn {
  font-size: 10px;
}

#weather-response {
  height: 50%;
}

.col-2 {
  font-size: 14px;
}

form {
  height: 15%;
}

.formSearch {
  height: 25px;
  align-content: center;
  justify-content: center;
}

h3 {
  padding-top: 20px;
}
